html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  text-align: center;
  text-decoration: underline;
}

#currentTime {
  text-align: center;
  height: 50px;
  font-weight: 900;
}

.table {
  height: 50vh;
  width: 45vw;
  border-collapse: collapse;
  text-align: left;
  margin-left: 50%;
  transform: translateX(-50%);
}

.querry {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
}

table,
th,
td,
tr {
  border: 1px solid black;
  padding: 5px;
}

td {
  font-size: 2em;
}

th {
  background-color: #4caf50;
}
th > h3 {
  margin: 0;
}

tr:nth-child(even) {
  background-color: #a58686;
}
